@media (max-width: 576px) {
    .row>* {
        width: auto !important;
    }
    #form{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .list{
        align-items: center;
    }
}